@page "/products/editstock/{id}"
@using System.Net
@using Newtonsoft.Json
@if (product != null)
{
    <h3>Editing @product.Description</h3>

    <EditForm Model="product" OnValidSubmit="Edit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label for="stock" class="col-sm-2 col-form-label">Stock</label>
            <InputNumber id="stock" class="form-control" placeholder="Product Stock" @bind-Value="product.Stock" />
            <ValidationMessage For="@(()=>product.Stock)" />
        </div>
        <button type="submit" class="btn btn-primary">Update Stock</button>
    </EditForm>
    if (result != null)
    {
        <hr />
        <p>Error: @result</p>
    }
}
else
{
    <p>Loading Product Details...</p>
}
@code {
    [Parameter]
    public string id { get; set; }
    private Product product { get; set; }
    private IEnumerable<ProductCategory> categories { get; set; }
    public string result { get; set; }

    [Inject]
    public NavigationManager NavManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        product = await new Product().GetProduct(int.Parse(id));
        categories = await new ProductCategory().GetAllCategories();
    }
    private async Task Edit()
    {
        HttpResponseMessage res;
        try
        {
            res = await product.UpdateStock();
            switch (res.StatusCode)
            {
                case HttpStatusCode.NoContent:
                    NavManager.NavigateTo("/products");
                    break;

                case HttpStatusCode.BadRequest:
                case HttpStatusCode.InternalServerError:
                    string err = await res.Content.ReadAsStringAsync();
                    result = err.Substring(err.IndexOf(":") + 1, err.IndexOf("\r\n") - err.IndexOf(":"));
                    break;
            }
        }
        catch (Exception e)
        {
            result = e.Message;
        }
    }
}