@page "/"

<h1>Hello, and welcome to Yuzu's Management site!</h1>

<p>Here you can manage everything regarding Products!</p>
<p>For managing additional things, please log into the store web app instead of this one.</p>